<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="NetHttpBinding_INotificationService">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://liveservice.apphb.com/NotifyService.svc" binding="customBinding"
                bindingConfiguration="NetHttpBinding_INotificationService"
                contract="NotifyServiceReference.INotificationService" name="NetHttpBinding_INotificationService" />
        </client>
    </system.serviceModel>
</configuration>