<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netHttpBinding>
        <binding name="WSDualHttpBinding_IBroadcastService">
          <webSocketSettings transportUsage="Always" />
        </binding>
      </netHttpBinding>
    </bindings>
    <client>
      <endpoint 
        address="ws://liveservice.apphb.com/NotifyService.svc"
        binding="netHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IBroadcastService"
        contract="BroadcastServiceReference.IBroadcastService"
        name="WSDualHttpBinding_IBroadcastService"/>
    </client>
  </system.serviceModel>
</configuration>

<!--
<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>

    <bindings>

      <netHttpBinding>
        <binding name="WSDualHttpBinding_IBroadcastService">
          <security mode="Message">
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </netHttpBinding>

    </bindings>

    <client>
      <endpoint
        address="http://liveservice.apphb.com/NotifyService.svc"
        binding="netHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IBroadcastService"
        contract="BroadcastServiceReference.IBroadcastService"
        name="WSDualHttpBinding_IBroadcastService">
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>
-->