<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
      <bindings>
        <basicHttpBinding>
          <binding name="BasicHttpBinding_INotificationService" />
          <binding name="BasicHttpBinding_IBroadcastService" />
        </basicHttpBinding>
      </bindings>
      <client>
        <endpoint address="http://liveservice.apphb.com/NotifyService.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificationService"
          contract="NotifyServiceReference.INotificationService" name="BasicHttpBinding_INotificationService" />
        <endpoint address="http://localhost:6529/NotifyService.svc" binding="basicHttpBinding"
          bindingConfiguration="BasicHttpBinding_IBroadcastService" contract="BroadcastServiceReference.IBroadcastService"
          name="BasicHttpBinding_IBroadcastService" />
      </client>
    </system.serviceModel>
</configuration>