<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_INotificationService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://liveservice.apphb.com/NotifyService.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_INotificationService"
                contract="NotifyServiceReference.INotificationService" name="BasicHttpBinding_INotificationService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup>
</configuration>
