<?xml version="1.0"?>
<configuration>

    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true"/>
      <directoryBrowse enabled="true"/>
    </system.webServer>

    <system.serviceModel>
      
      <protocolMapping>
        <add scheme="http" binding="netHttpBinding"/>
        <add scheme="https" binding="netHttpsBinding"/>
      </protocolMapping>

      <behaviors>
        <serviceBehaviors>
          <behavior name="ServiceBehaviors">
            <serviceMetadata 
              httpGetEnabled="true" 
              httpsGetEnabled="true" />
            <serviceDebug includeExceptionDetailInFaults="false" />
<!--
            <serviceCredentials>
              <userNameAuthentication 
                userNamePasswordValidationMode="Custom"
                customUserNamePasswordValidatorType="NotifyService.CustomUserNameValidator, NotifyService"/>
-->
            
          </behavior>
        </serviceBehaviors>
      </behaviors>

      <serviceHostingEnvironment 
        aspNetCompatibilityEnabled="true"
        multipleSiteBindingsEnabled="true" />
        
      <services>
        <service 
          name="NotifyService.BroadcastService" 
          behaviorConfiguration="ServiceBehaviors">
          <endpoint 
            address=""
            binding="netHttpBinding"
            contract="NotifyService.IBroadcastService"
            />
        </service>
      </services>

    </system.serviceModel>

</configuration>
