<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.1"/>
    
    <pages controlRenderingCompatibilityVersion="4.0"/>
    <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*"/>
    </httpHandlers></system.web>
  <system.webServer>
    
    <webSocket enabled="false"/>    
    <validation validateIntegratedModeConfiguration="false"/>
    <httpErrors existingResponse="PassThrough"/>
    
    <handlers>
      <add name="Nancy" type="Nancy.AspNet.WebSockets.WebSocketAwareHttpHandler" path="*" verb="*"/>
    </handlers>
  </system.webServer>
</configuration>